 @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@500&display=swap');

{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
} 





/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #home {
        background-color: #F37145;
        border-bottom: 10px solid white;
    }

    #texto-principal {
        font-family: 'Bungee', cursive;
        color: black;
        font-size: 10px;

    }

    #texto-secundario-hero {
        color: black;
        font-size: 41px;
        font-weight: 500;
    }
    #texto-terceiro {
        font-family: 'Bungee', cursive;
        color: #F37145;
        font-size: 51px;
        align-items: center;

    } 
    #texto-plano-pet {
        font-family: 'Bungee', cursive;
        color: #FFFFFF;
    }

    h3 {
        font-family: 'Bungee', cursive;
        color: #fefefe;
        font-size: 25px;
    }

    .hero-dog-img {
        height: 600px;
    }

    .button-callToAction {
        background-color: #FFC03F;
        color: white;
        height: 65px;
        width: 168px;
        border-radius: 5px;
        border: none;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -84px;
    }
    .charleseluvio-img {
        background-color: #F37145;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .preco {
        background-color: #FFFFFF;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .col-md-7 {
        border-radius: 5px;
    }
    #servicos {
        height: 926px;
        background-color: #FFC03F;
    }
    #sobrenos {
        height: 926px;
        background-color: #F37145;
    }

    .copyright {
        
        background-color: #4F4542;
    }
    #copyright-text
    {
        color: #fefefe;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #home {
        background-color: #F37145;
        border-bottom: 10px solid white;
    }

    #texto-principal {
        font-family: 'Bungee', cursive;
        color: #FFC03F;
        font-size: 51px;

    }

    #texto-secundario-hero {
        color: white;
        font-size: 41px;
        font-weight: 500;
    }
    #texto-terceiro {
        font-family: 'Bungee', cursive;
        color: #F37145;
        font-size: 51px;

    }
    #texto-plano-pet {
        font-family: 'Bungee', cursive;
        color: #FFFFFF;
    }

    h3 {
        font-family: 'Bungee', cursive;
        color: #fefefe;
        font-size: 25px;
    }

    .hero-dog-img {
        height: 600px;
    }

    .button-callToAction {
        background-color: #FFC03F;
        color: white;
        height: 65px;
        width: 168px;
        border-radius: 5px;
        border: none;
        position: absolute;
        bottom: 70px;
        left: 50%;
        margin-left: -84px;
    }
    .charleseluvio-img {
        background-color: #F37145;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .preco {
        background-color: #FFFFFF;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .col-md-7 {
        border-radius: 5px;
    }
    #servicos {
        height: 1024px;
        background-color: #FFC03F;
    }
    #sobrenos {
        height: 926px;
        background-color: #F37145;
    }
    .copyright {
        
        background-color: #4F4542;
    }
    #copyright-text
    {
        color: #fefefe;
    }
}


/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #home {

        background-color: #F37145;
        border-bottom: 10px solid white;
    }

    #main-text {
        font-family: 'Bungee', cursive;
        color: #FFC03F;
        font-size: 83px;
    }

    #texto-secundario-hero {
        color: white;
        font-size: 41px;
        font-weight: 500;
    }
    #texto-terceiro {
        font-family: 'Bungee', cursive;
        color: #F37145;
        font-size: 51px;

    }
    #texto-plano-pet {
        font-family: 'Bungee', cursive;
        color: #FFFFFF;
    }
    h3 {
        font-family: 'Bungee', cursive;
        color: #fefefe;
        font-size: 25px;
    }

    .hero-dog-img {
        height: 600px;
    }

    .button-callToAction {
        background-color: #FFC03F;
        color: white;
        height: 65px;
        width: 168px;
        border-radius: 5px;
        border: none;
    }
    .charleseluvio-img {
        background-color: #F37145;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .preco {
        background-color: #FFFFFF;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .col-md-7 {
        border-radius: 5px;
    }
    #servicos {
        height: 1024px;
        background-color: #FFC03F;
    }
    #sobrenos {
        height: 926px;
        background-color: #F37145;
    }
    .copyright {
        
        background-color: #4F4542;
    }
    #copyright-text
    {
        color: #fefefe;
    }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .home {

        background-color: #F37145;
        border-bottom: 10px solid white;
    }

    #texto-principal {
        font-family: 'Bungee', cursive;
        color: #FFC03F;
        font-size: 83px;
    }

    #texto-secundario-hero {
        color: white;
        font-size: 21px;
        line-height: 40px;
        font-weight: 300;
        width: 580px;
        border: #F37145 solid 1px;
    }
    #texto-terceiro {
        font-family: 'Bungee', cursive;
        color: #F37145;
        font-size: 51px;

    }
    #texto-plano-pet {
        font-family: 'Bungee', cursive;
        color: #FFFFFF;
    }
    h3 {
        font-family: 'Bungee', cursive;
        color: #fefefe;
        font-size: 25px;
    }


    .hero-dog-img {
        height: 600px;
    }

    .button-callToAction {
        background-color: #FFC03F;
        color: white;
        height: 65px;
        width: 168px;
        border-radius: 5px;
        border: none;
    }

    .charleseluvio-img {
        background-color: #F37145;
    }

    .preco {
        background-color: #FFFFFF;
    }
    .col-md-7 {
        border-radius: 5px;
    }
    .copyright {
        
        background-color: #4F4542;
    }
    #copyright-text
    {
        color: #fefefe;
    }
}







 .cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
} 